<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors Bonanza</title>
</head>
<body>
<h1>Welcome Back {user_name}</h1>

<h2>Current Games</h2> <h2>Game Requests</h2>
	<div>
		<input id="user-input" type="text" placeholder="Username"/>
		<input id="user-input" type="text" placeholder="Password"/>
 		<input class="button small" id="sign-in" type="button" value="Sign In" />
	</div>
		
	<div>
		<input class="button small" id="sign-up" type="button" value="Sign Up" />
	<div>
</body>
</html>