<!DOCTYPE html>
<html>
<head>
	<title>Rock Paper Scissors Bonanza</title>
</head>
<body>
	<h1>Sign Up Below</h1>
	<div>
		<input id="user-input" type="text" placeholder="First Name"/>
		<input id="user-input" type="text" placeholder="Last Name"/>
		<input id="user-input" type="text" placeholder="Desired Username"/>
		<input id="user-input" type="text" placeholder="Password"/>
 		<input class="button small" id="sign-in" type="button" value="Sign Up" />
	</div>
		
	
</body>
</html>